body {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: black;
  }
  #text {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgb(255, 102, 0),rgb(1, 176, 245));
    outline:none;
    border-radius: 2rem;
    text-align:center;
    color:white
  }
  .button{
    background-image: radial-gradient(rgb(224, 87, 224),rgb(128, 0, 128));
    border-radius: 2rem;
    border: 2px solid rgb(224, 87, 224);
    padding: 0.4rem 1rem;
    color:white;
    margin: 0.2rem;
    outline:none;
  }
  #play-button:focus{
    background-image: radial-gradient(rgb(0, 255, 55),rgb(1, 97, 52));
    border: 2px solid rgb(1, 97, 52);
  }
  #pause-button:focus{
    background-image: radial-gradient(aqua,rgb(70, 211, 169));
    border: 2px solid rgb(70, 211, 169);
  }
  #stop-button:focus{
    background-image: radial-gradient(rgb(255, 0, 0),rgb(129, 0, 32));
    border: 2px solid rgb(129, 0, 32);
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
  }
  .label{
    margin: 0.2rem;
    color: white;
  }
  .input{
    background-image: radial-gradient(rgb(0, 172, 240),navy);
    color:white;
    margin: 0.2rem;
    padding:0.4rem 1rem;
    border: 2px solid rgb(0, 172, 240);
    border-radius: 2rem;
    outline:none;
  }
  h1{
    color:white;
  }